@model Vedaantees.Hosts.SingleSignOn.Presentation.Models.ResetPasswordViewModel
    <v-card raised hover class="pa-4" id="form-card">
        <v-card-text class="text-xs-center">
            <h3>Next Step</h3>
            <h5 class="mb-5">We have emailed you the next steps to regenerate new password</h5>
            <v-btn class="primary" href="@Model.LoginUrl"><v-icon class="mr-2">lock</v-icon> Take me Login</v-btn>
        </v-card-text>
    </v-card>
@section scripts
    {
    <script>
        new Vue({
            el: 'v-app',
            data: {
                
            },
            mounted() {
                window.document.getElementById("preloader").style.display = "none";
            }
        });
    </script>
}

