@model Vedaantees.Hosts.SingleSignOn.Presentation.Models.ResetPasswordViewModel

<form asp-controller="Account" asp-action="ResetPassword" method="post" name="resetPasswordForm">
    <v-card raised hover class="pa-4" id="form-card">
        <v-card-text>
            <h4 class="display-1">
                <v-avatar class="orange darken-3 mr-1">
                    <v-icon dark large>person</v-icon>
                </v-avatar>
                Reset Password
            </h4>
            <v-text-field name="username"
                              label="Username"
                              v-model="username"
                              v-bind:rules="requiredRules"
                              hint="Please enter your email-id or mobile no. you used while registration."
                              class="mb-4"
                              required>
            </v-text-field>
        </v-card-text>
        <v-card-actions>
            <v-btn flat primary href="@Url.Action("Register","Account")">Register Me</v-btn> | <v-btn flat primary href="@Model.LoginUrl">Login</v-btn>
            <v-spacer></v-spacer>
            <v-btn class="primary" v-on:click="submit()">Reset Password</v-btn>
        </v-card-actions>
    </v-card>
    <input type="hidden" name="username" />
    <input type="hidden" asp-for="LoginUrl" />
</form>
@section scripts
    {
    <script>
        new Vue({
            el: 'v-app',
            data: {
                username: "",
                requiredRules: [(v) => !!v || 'required']
            },
            methods: {
                submit: function () {

                    document.resetPasswordForm["username"].value = this.username;
                    document.resetPasswordForm.submit();
                }
            },
            mounted() {
                window.document.getElementById("preloader").style.display = "none";
            }
        });
    </script>
}
