<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="modules-folder" value="D:\dev-environments\modules"></add>
    <add key="runtime-deployment-folder" value="D:\dev-environments\runtime\netcoreapp2.0"></add>
    <add key="host-api-file" value="D:\dev-environments\Vedaantees.Hosts.Api\Vedaantees.Hosts.Api.dll"></add>
    <add key="sso-api-file" value="D:\dev-environments\Vedaantees.Hosts.ServiceBus\Vedaantees.Hosts.ServiceBus.dll"></add>
    <add key="functions-api-file" value="D:\dev-environments\Vedaantees.Hosts.SingleSignOn\Vedaantees.Hosts.SingleSignOn.dll"></add>
    <add key="tasks-api-file" value="D:\dev-environments\Vedaantees.Hosts.Tasks\Vedaantees.Hosts.Tasks.dll"></add>
  </appSettings>
</configuration>
